<section class="form-simple col-md-6 offset-md-3 mt-5 mb-5">
    
  
    <div class="card">
      <div class="header pt-3 grey lighten-2">
        <div class="row d-flex justify-content-start">
          <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5">
            Login with Credit Card Info
          </h3>
        </div>
      </div>
  
      <div class="card-body" class="mx-2 mt-2">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          
          
          <div class="form-group">
            <label for="nameOnCc">Name on Credit Card(CC)</label>
            <input
              type="text"
              formControlName="nameOnCc"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.nameOnCc.errors }"
            />
            <div *ngIf="submitted && f.nameOnCc.errors" class="invalid-feedback">
              <div *ngIf="f.nameOnCc.errors.required">
                Name on CC is required
              </div>
            </div>
          </div>
          <!--  -->
          <div class="form-group">
            <label for="ccNumber">CC Number</label>
            <input
              type="text"
              formControlName="ccNumber"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.ccNumber.errors }"
            />
            <div *ngIf="submitted && f.ccNumber.errors" class="invalid-feedback">
              <div *ngIf="f.ccNumber.errors.required">
                CC Number is required
              </div>
            </div>
          </div>
          <!--  -->
          <div class="form-group">
            <label for="ccExpiration">Expiry Date</label>
            <input  type="text"  [ngClass]="{ 'is-invalid': submitted && f.ccExpiration.errors }" class="form-control" formControlName="ccExpiration" required placeholder="MM / YY" >
            <div *ngIf="submitted && f.ccExpiration.errors" class="invalid-feedback">
              <div *ngIf="f.ccExpiration.errors.required">
                CC Expiration is required
              </div>
            </div>
        </div>
          <div class="form-group">
            <label for="ccSecurityCode">CC Security Code</label>
            <input
              type="text"
              formControlName="ccSecurityCode"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.ccSecurityCode.errors }"
            />
            <div *ngIf="submitted && f.ccSecurityCode.errors" class="invalid-feedback">
              <div *ngIf="f.ccSecurityCode.errors.required">
                CC Security Code is required
              </div>
              <div *ngIf="f.ccSecurityCode.errors.minlength">
                CC Security Code must be at least 4 characters
              </div>
            </div>
          </div>
          <!--  -->
          <div class="form-group">
            <label for="amount">Amount</label>
            <input
              type="text"
              formControlName="amount"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.amount.errors }"
            />
            <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
              <div *ngIf="f.amount.errors.required">
                Amount is required
              </div>
              
            </div>
          </div>
          <button
            [disabled]="loading"
            color="danger"
            block="true"
            class="z-depth-2"
          >
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Log in
          </button>
          
          <!--  -->
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0" role="alert">
            <i class="fa fa-exclamation-triangle" aria-hidden="true">&nbsp;</i>{{ error }}
          </div>
        </form>
      </div>
    </div>
  </section>